.banner_slide{
    animation-delay: .5s;
    animation: banner_slider 80s infinite alternate ease-in-out;
}
.banner_slide li {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
@keyframes banner_slider {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}